/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Ubuntu-Regular;
    src: url('ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: Ubuntu-Bold;
    src: url('ubuntu/Ubuntu-Bold.ttf');
}

/*////////////////////////////////////////////////////////////////*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    min-height: 100%;
    font-family: Ubuntu-Regular, sans-serif;
}

body {
    display: flex;
    background: -webkit-linear-gradient(to bottom, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
}

/* NAV BAR */

nav {
    top: 30px;
    left: 45px;
    position: absolute;
    width: 480px;
    height: 100px;
    letter-spacing: 2px;
}

.link {
    display: inline-block;
    color: white;
    vertical-align: 28px;
    text-decoration: none;
}

.link {
    transition: all 0.3s ease-out;
}

.link:hover, .link:focus {
    transform: translateY(-5px);
}

nav img {
    transition: all 0.3s ease-out;
}

nav img:hover {
    transform: scale(1.15);
}

.nav_links {
    margin-left: 30px;
}



/* STYLING FOR DIV AROUND INPUT FORM */

.inputdiv {
    width: 50%;
    height: 100%;
    background: white;
    display: inline-block;
    border-radius: 2px;
}

.inputdiv inputdiv_content {
    position: absolute;
    top: 48px;
    height: auto;
    transform: translate(63px,-50%);
}


/* GENERAL STYLING OF THE INPUT FORM */
.praat_form {
    text-align: center;
    height: 280px;
    width: 100%;
    margin: 0 auto;
}



/* STYLE FOR FILE UPLOAD BUTTON */
.inputfile {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    height: 50px;
}

.inputfile + label {
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    color: white;
    border: 2px solid #243B55;
    background-color: #243B55;
    display: inline-block;
    transition: all 0.2s ease-out;
    height: 72px;
    width: 240px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #4B79A1;
    color: white;
    border: 2px solid #4B79A1;
    cursor: pointer;
}


.written_input {
    font-size: 18px;
    background: white;
    padding: 18px 15px 18px 15px;
    margin: 7px auto;
    border: 2px solid #243B55;
    width: 240px;
}

.submit_button {
    position: relative;
    background: #243B55;
    color: white;
    border-style: solid;
    border-color: #243B55;
    margin-top: 24px;
    height: 48px;
    width: 120px;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.submit_button i {
    text-align: right;
}

.submit_button:hover {
    background: #4B79A1 !important;
    border-color: #4B79A1 !important;
}


.submit_button2 {

    text-align: center;
    background: white;
    color: #243B55;
    height: 48px;
    width: 170px;
    font-size: 22px;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    border-style: solid;
    border-color: white;
    transition: all 0.2s ease-out;
}

.submit_button2:hover {
    transform: translateY(-5px);
}


label[for=WavFile] {
    text-align: left;
    margin: 5px;
    font-size: 10px;
}

.checkbox_labels {
    color: #243B55;
}

.checkbox_labels {
    color: #243B55;
}

input[type="checkbox"] {
    margin-top: 12px;
    position: relative;
    width: 50px;
    height: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #e2e2e2;
    outline: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
    box-shadow: inset 0 0 3px rgba(0,0,0,.2);
}

input:checked[type="checkbox"] {
    background: #03a9f4;
}

input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    top: 0;
    left: 0;
    background: #243B55;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
}

input:checked[type="checkbox"]:before {
    left: 25px;
}

.chop_length {
    margin-left: 130px;
    margin-right: 130px;
}




/* styling for the "RUN PRAAT HERE" header */

h1 {
    text-align: center;
    font-size: 28px;
    display: block;
    margin-top: 12px;
    padding-top: 2px;
    color: #243B55;
}

/* styling for the "RUN PRAAT HERE" subheader */

h2 {
    text-align: center;
    display: block;
    font-size: 16px;
    font-style: italic;
    color: #243B55;
}

h3 {
    margin-top: 12px;
    margin-left: 180px;
    width: 200px;
    display: block;
    font-size: 28px;
    letter-spacing: 2px;
    color: white;
    left: 60%;
}

/* styling for the div on the about page */

.content_div {
    position: absolute;
    width: 500px;
    height: 140px;
    background: white;
    border: 2px solid white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #243B55;
    font-size: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-250px, -100px);
    -moz-transform: translate(-250px, -100px);
    -ms-transform: translate(-250px, -100px);
    -o-transform: translate(-250px, -100px);
    transform: translate(-250px, -100px);

}

/* styling for the paragraph in the div on the about page */
.content_div p {
    text-align: center;
    margin-top: 10px;
    line-height: 200%;
}

/* */
.content_div2 {
    position: absolute;
    width: 300px;
    height: 70px;
    background: white;
    border: 2px solid white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #243B55;
    font-size: 20px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* download button on result page */
.formm {
    position: absolute;
    width: 200px;
    height: 200px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* paragraph in div on the result page*/
.content_div2 p {
    text-align: center;
    margin-top: 4px;
    line-height: 140%;
}


/* styling for the how to use part of the main page */
.how_to_use {
    float: right;
    display: inline-block;
    width: 50%;
    height: 100%;
    border: 5px solid white;
    transform: translateX(-5px);
    border-radius: 2px;
}

/* styling for the div that centers both the
   form on the main page and the how to use text div*/
.index {
    width: 1200px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-600px, -225px);
    -moz-transform: translate(-600px, -225px);
    -ms-transform: translate(-600px, -225px);
    -o-transform: translate(-600px, -225px);
    transform: translate(-600px, -225px);
}


/* styling for the how to use paragraph */
.text_howto {
    margin-left: 115px;
    margin-top: 15px;
    font-size: 20px;
    text-align: left;
    line-height: 200%;
    color: white;
}

/* styling for the footer */
footer {
    z-index: 20;
    position: absolute;
    height: 70px;
    width: 100%;
    background: none;
    font-size: 18px;
    bottom: 0;
    overflow: hidden;
}

/* styling for the footer image */
footer img {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 20;
}

/* styling for the footer paragraph */
footer p {
    color: white;
    margin-left: 20px;
    line-height: 80px;
    letter-spacing: 1px;
}

/* styling for loading text on main page */
.load_text {
    position: absolute;
    visibility: hidden;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 22px;
}

